:root {
    --background-color-page: #000000;
    --background-color-header: #30d9ff25;
    --cor-segundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover-botoes: #042c34;
    --cor-aviso: #c0c0c0;
    --border-footer: #22d5fd28;
    --fonte-textos: 'Jarsey 25';
    --fonte-titulo: 'Exo 2';
    --fonte-botoes: 'Montserrat';
    --fonte-textos-2: 'Krona One';
}

body {
    background-image: url(/img/back.png);
    background-size: contain;
    background-color: var(--background-color-page);
    color: var(--cor-segundaria);
    font-family: var(--fonte-textos);
    font-size: 1rem;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

}

.principal {
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 8%;
    width: auto;
}

.cabecalho__lista {
    display: flex;
    list-style-type: none;
    gap: 30px;
    background-color: var(--background-color-header);
    padding: 0.8%;
    margin: 0;
    align-items: baseline;
}

.cabecalho__menu__link:hover {
    font-size: 1.02rem;
    color: var(--cor-terciaria);
}

.cabecalho__menu__link {
    color: var(--cor-segundaria);
    text-decoration: none;
    font-family: var(--fonte-titulo);
}

.botao__portfolio {
    font-size: 1.5rem;
}

.botao__portfolio:hover {
    font-size: 1.51rem;
}


.foto__principal {
    width: 30%;
    padding: 0 0 0 8%;
}

.apresentacao {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 0 0 10%;
    gap: 100px;
}

.apresentacao__inicio {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 80px;
}

.apresentacao__titulo {
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__texto {
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--fonte-botoes);
}

.texto-destaque {
    font-size: 1.3rem;
}

.apresentacao__contato {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.texto__contato {
    font-size: 1rem;
    font-family: var(--fonte-textos-2);
}

.curriculo {
    font-size: 1rem;
    color: var(--cor-terciaria);
}

.botoes__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 5%;
    width: auto;
}

.botao__link {
    font-family: var(--fonte-botoes);
    font-size: 1.5rem;
    display: flex;
    justify-content: baseline;
    text-decoration: none;
    color: var(--cor-segundaria);
    border: 0.16rem inset var(--cor-terciaria);
    border-radius: 1rem;
    padding:3% 3%;
    gap: 5%;
    width: auto;
}

.botao__link:hover {
    background-color: var(--cor-hover-botoes);
    font-size: 1.51rem;
}

.botao-github {
    display: flex;
    gap: 8%;
}

.icone__botao {
    width: auto;
    height: 80%;
    padding: 0.5% 0 0 0;
}

.secundario {
    margin: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo__historia {
    text-align: center;
    margin: 0 0 10% 0;
}

.aviso {
    font-size: 1rem;
    color: var(--cor-aviso)
}

.botao__dentro__do__aviso{
    color: var(--cor-aviso)
}

.paragrafo__texto__imagem {
    display: flex;
    align-items: center;
    gap: 10%;
}

.texto__paragrafo {
    text-align: center;

}

.foto__paragrafo {
    width: 35%;
    border-radius: 5%;
}

.caixa__terceira {
    display: flex;
    align-items: center;
    gap: 10%;
}

.destaques-do-texto {
    color: var(--cor-terciaria);
}

.rodape {
    text-align: center;
    padding: 0.5%;
}